* {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  color: black;
}
/* Css index */

/* caract gral */
body {
  background-image: url(./multimedia/los3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}
header {
  margin: 2%;
  width: 70%;
  align-content: space-around;
  text-align: center;
}
main {
  margin-top: 10%;
  width: 70%;
  align-content: space-around;
}
footer {
  margin-top: 10%;
  width: 90%;
  align-content: space-around;
  text-align: center;
}
footer address p,
footer h5 {
  color: whitesmoke;
  font-size: smaller;
}
footer address,
footer nav {
  width: 33%;
}
ul {
  list-style: none;
}
.navMenu li:last-child {
  margin-left: 5%;
}

/* class css */
.box1 {
  width: 25%;
  margin-left: 5%;
}
.box2 {
  width: 90%;
}
.navMenu {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-content: space-between;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 60%;
}
.rrss img {
  width: 55%;
}
.artist {
  color: blue;
}
.artistCol {
  color: rgb(54, 7, 99);
}
.artistBand {
  text-decoration: underline;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.about {
  align-self: start;
  padding: 2%;
  background-color: rgba(128, 128, 128, 0.8);
}
.about a {
  color: darkorange;
}
.discograph {
  padding: 2%;
  margin-top: 10%;
  align-content: space-around;
  background-color: rgba(128, 128, 128, 0.8);
}
.discograph img {
  width: 200px;
}
.discograph h3 {
  margin-bottom: 2%;
}
.disc {
  margin-top: 2%;
}

.linkPolicy li {
  align-content: space-between;
  width: 100%;
  font-size: smaller;
}
.formulario{
  width: 80%;
  
  background-color: rgba(126, 121, 131,0.8);
  padding: 2%;

}
.centered h2{
  background-color: rgba(0, 0, 0,0.5);
  color: wheat;
  text-align: center;
}
.justify{
  justify-content: space-evenly;
 
}
